<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Tic-Tac-Toe</title>
  </head>
  <body class="bg-dark">

    <style>
        #top {
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 15px 15px;
        }

        .cube {
            height: 150px; display: flex; align-items: center; justify-content: center; font-size: 40px; font-weight: 800;
        }

        @media (max-width: 768px) {
            .cube {
                height: 100px;
                font-size: 30px;
            }
            #main {
                width: 80%;
            }
        }
    </style>
    
    <div id="main" class="bg-white position-absolute top-50 start-50 p-5 translate-middle" style="width: 40%; ">
        <div id="top" class="bg-dark">
            <span id="user_turn"></span>
            <span id="user_state"></span>
        </div>
        <br>
        <div id="top" class="bg-dark">
            <span>Player 1: 0</span>
            <span>Player 1: 0</span>
        </div>
        <div id="game-section">

            <div class="row mt-3">
                <div class="col-4 cube" id="1" style="border-right: 5px solid; border-bottom: 5px solid;"></div>
                <div class="col-4 cube" id="2" style="border-bottom: 5px solid;"></div>
                <div class="col-4 cube" id="3" style=" border-left: 5px solid;border-bottom: 5px solid;"></div>            
            </div>

            <div class="row">
                <div class="col-4 cube" id="4" style="border-right: 5px solid; border-bottom: 5px solid;"></div>
                <div class="col-4 cube" id="5" style="border-bottom: 5px solid;"></div>
                <div class="col-4 cube" id="6" style=" border-left: 5px solid;border-bottom: 5px solid;"></div>
            </div>

            <div class="row">
                <div class="col-4 cube" id="7" style="border-right: 5px solid; "></div>
                <div class="col-4 cube" id="8" ></div>
                <div class="col-4 cube" id="9" style=" border-left: 5px solid;"></div>
            </div>

        </div>
    </div>

    <script>
        let room_code = '{{room_code}}';
        let user_name = '{{username}}'

        let game_state = ['','','','','','','','','']

        let current_state = 'X'

        let players = {
            'work': 'user_initiation',
        }
        
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/'+room_code+'?username='+user_name)

        function checkGameState(game_state, current_user) {

            if (game_state[0] === game_state[1] && game_state[1] === game_state[2] && game_state[0] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[3] === game_state[4] && game_state[4] === game_state[5] && game_state[3] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[6] === game_state[7] && game_state[7] === game_state[8] && game_state[6] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[0] === game_state[3] && game_state[3] === game_state[6] && game_state[0] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[1] === game_state[4] && game_state[4] === game_state[7] && game_state[1] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[2] === game_state[5] && game_state[5] === game_state[8] && game_state[2] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[0] === game_state[4] && game_state[4] === game_state[8] && game_state[0] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (game_state[2] === game_state[4] && game_state[4] === game_state[6] && game_state[2] !== '') {
                ws.send(JSON.stringify({
                    'Winner':current_user,
                }))
            } else if (!game_state.includes('')) {
                ws.send(JSON.stringify({
                    'Tie':'No Body Won',
                }))
            }
        }

        ws.onopen = function(){
            console.log('Websocket Connection Open...');
            ws.send('Frontend Connected!')
            ws.send(JSON.stringify({
                'User':user_name,
            }))
        }
        
        document.querySelectorAll('.cube').forEach(function(cube){
            cube.addEventListener('click', function(){
                cube.textContent = current_state;
                game_state[parseInt(cube.id)-1] = current_state

                data_to_send = {
                    'cubeId':cube.id,
                    'currentState':current_state,
                    'currentUser': user_name,
                    'gameState': game_state,
                }

                ws.send(JSON.stringify(data_to_send));


                if (current_state == 'X'){
                    current_state = 'O';
                } else {
                    current_state = 'X'
                }
            })
        })

        ws.onmessage = function(event){
            console.log('Message from Backend...', event)
            console.log('Message Data...', event.data)
            text_data = JSON.parse(event.data)

            if (text_data.User){{
                alert(text_data.User + ' joined the group.');
                // Adding User to Player object along with their turn.
                if(!players.hasOwnProperty(text_data.User)){
                    if(Object.keys(players).length == 1){
                        alert('Player added with turn 1')
                        players[text_data.User] = {
                        'turn':1
                    }} else {
                        alert('Player added with turn 0')
                        players[text_data.User] = {
                        'turn':0
                    }
                }
                } 
                ws.send(JSON.stringify(players))
                }
            }

            if (text_data.cubeId){

                document.getElementById(text_data.cubeId).textContent = text_data.currentState
                game_state = text_data.gameState;
                checkGameState(game_state, text_data.currentUser)

                if (text_data.currentState == 'X'){
                    current_state = 'O';
                } else {
                    current_state = 'X'
                }
                

            }

            if (text_data.Winner){
                alert(text_data.Winner)
            }

            if (text_data.Tie){
                alert(text_data.Tie)
            }

            if (text_data.work){
                players = text_data;
                console.log('Players ----->')
                console.log(players)
            }

        }

        ws.close = function(event){

            console.log('Websocket Connection Closed...', event)
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>